@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@500&family=Poppins:wght@400;500;600;700;800;900&display=swap");

.text-poppins {
  font-family: "Poppins", sans-serif;
}
.text-inter {
  font-family: "Inter", sans-serif;
}
.text-anton {
  font-family: "Anton", sans-serif;
}
.alphaClashBackground {
  background-color: #010313;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: center;
}
